section[data-css="order-list-table-wrapper"] {
  overflow-x: scroll !important;
  padding: 12px;
}

section[data-css="order-list"] {
  padding-right: 14px;
  padding-left: 14px;
}

section[data-css="sidebar"] {
  width: 200px !important;
}

section[data-css="sidebar"] .adminjs_Box {
  padding: 12px;
}

section[data-css="order-list-order_id"] {
  min-width: 58px !important;
}

section[data-css="order-list-outlet_id"],
section[data-css="order-list-customer_name_platform"],
section[data-css="order-list-payment_method"],
section[data-css="order-list-delivery_method"],
section[data-css="order-list-phone"] {
  min-width: 70px !important;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-12px);
}

.card-image {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-size: cover;
  object-fit: cover;
  background-position: bottom;
  margin-bottom: 20px;
}
